<h2>Client Name:<%= @meeting.name %></h2>
<h3>Subject:<%= @meeting.subject %></h3>
<p>Notes: <%= @meeting.note %></p>
<p>Assignment: <%= @meeting.assignment %></p>

<p>Date Created: <%= @meeting.date %></p>

<a href="/meetings/<%= @meeting.id %>/edit">Edit Entry</a>

<form action="/meetings/<%= @meeting.id %>" method="post">

    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Entry">
</form>