<h2>Client Name:<%= @meeting.name %></h2>
<h3>Subject:<%= @meeting.subject %></h3>
<p>Notes: <%= @meeting.note %></p>
<p>Assignment: <%= @meeting.assignment %></p>

<p>Date Created: <%= @meeting.date %></p>

